           body {
                padding: 10px;
                margin: 0px;
                color: #FFFFFF;
                background-color: #666666;
                font-family: Arial, sans-serif;
                font-size: 10px;
            }


            td, tr {
                font-family: Arial, sans-serif;
                font-size: 10px;

                height: 15px;

                padding: 0px;
                margin: 0px;
            }

            td.clsTableParentBody {
                background-color: #D2D2DC;
            }

            div.clsHeaderType {
                display: block;
                clear: left;
                width: 60px;
                font-size: 8px;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            }

            td.clsHeaderType {
                height: 80px;
                text-align: left;
            }

            tr.clsHeader td {

                color: #e6e6e6;
                background-color: #999999;
                text-align: center;
                font-weight: bold;
            }
            tr.clsHeaderE td {
                width: 20px;
                color: #e6e6e6;
                background-color: #999999;
                text-align: center;
                font-weight: bold;
            }

td.clsHeaderTableName {
    background-color: #666666;
    color: #F9F9F9;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    text-align: left;

}
td.clsBodyMenuItem  {
    width: 120px;
    text-align: center;
    background-color: #555555;
    color: #e6e6e6;
    padding-left: 3px;
    padding-right: 3px;


}

            tr.clsBodyRow {
                color: #000000;
                background-color: #FFFFFF;
            }
            td.clsBodyRowId {
                width: 30px;
                text-align: center;
                background-color: #666666;
                color: #e6e6e6;
                padding-left: 3px;
                padding-right: 3px;
            }
td.clsBodyRowUserName {
    width: 120px;
    text-align: left;
    background-color: #AAAAAA;
    color: #e6e6e6;
    padding-left: 3px;
    padding-right: 3px;
}
td.clsBodyRowName {
    width: 80px;
    text-align: center;
    background-color: #AAAAAA;
    color: #e6e6e6;
    padding-left: 3px;
    padding-right: 3px;
}
td.clsBodyRowAddress {
    width: 180px;
    text-align: left;
    background-color: #EEEEEE;
    color: #262626;
    padding-left: 3px;
    padding-right: 3px;
}

td.clsBodyRowStatusStr
 {
    width: 200px;
    text-align: left;
    background-color: #EEEEEE;
    color: #262626;
    padding-left: 3px;
    padding-right: 3px;
}

td.clsBodyRowCount {
    width: 60px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #555555;
}


td.clsBodyRowCount4 {
    width: 30px;
    text-align: right;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #555555;
}

td.clsBodyRowCount6 {
    width: 40px;
    text-align: right;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #555555;
}

td.clsBodyRowCount8 {
    width: 50px;
    text-align: right;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #555555;
}

td.clsBodyRowMap {
    width: 40px;
    text-align: center;
    background-color: #999999;
    color: #e6e6e6;
    padding-left: 3px;
    padding-right: 3px;
}
td.clsBodyRowDate {
    width: 120px;
    text-align: center;
    background-color: #999999;
    color: #e9e9e9;
    padding-left: 3px;
    padding-right: 3px;
}
td.clsBodyRowAWait {
    width: 60px;
    text-align: center;
    background-color: #666666;
    color: #e6e6e6;
    padding-left: 3px;
    padding-right: 3px;
}

td.clsBodyRowGymPrestige {
    width: 60px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #555555;
}
td.clsBodyRowTeamName {
    width: 60px;
    text-align: center;
    padding-right: 3px;
    color: #000000;
    background-color: #FFFFFF;
}

td.clsBodyRowTeam_1 {
    background-color: #6495ED;
    color: #FFFFFF;
}
td.clsBodyRowTeam_2 {
    background-color: #B22222;
    color: #FFFFFF;
}
td.clsBodyRowTeam_3 {
    background-color: #DAA520;
    color: #000000;
}

td.clsBodyRowGuardName {
    width: 60px;
    text-align: center;
    padding-right: 3px;
    color: #000000;
    background-color: #FFFFFF;
}
td.clsBodyRowGuardNickName {
    width: 90px;
    text-align: center;
    padding-right: 3px;
    color: #000000;
    background-color: #FFFFFF;
}
td.clsBodyRowGuardCP {
    width: 60px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #555555;
}
td.clsBodyRowGuardGroup {
    width: 60px;
    text-align: center;
    padding-right: 3px;
    color: #000000;
    background-color: #FFFFFF;
}
td.clsBodyRowGuardEvolution {
    width: 60px;
    text-align: center;
    padding-right: 3px;
    color: #000000;
    background-color: #FFFFFF;
}
td.clsBodyRowGuardEvolution_1 {
    background-color: #6495ED;
    color: #FFFFFF;
}
td.clsBodyRowGuardEvolution_2 {
    background-color: #DAA520;
    color: #000000;
}
td.clsBodyRowGuardEvolution_3 {
    background-color: #B22222;
    color: #FFFFFF;
}

td.clsBodyRowGuardRarity {
    width: 60px;
    text-align: center;
    padding-right: 3px;
    color: #000000;
    background-color: #FFFFFF;
}
td.clsBodyRowGuardRarity_0 {
    background-color: #80b1dc;
    color: #FFFFFF;
}
td.clsBodyRowGuardRarity_1 {
    background-color: #355876;
    color: #FFFFFF;
}
td.clsBodyRowGuardRarity_2 {
    background-color: #b3e164;
    color: #000000;
}
td.clsBodyRowGuardRarity_3 {
    background-color: #668631;
    color: #FFFFFF;
}
td.clsBodyRowGuardRarity_4 {
    background-color: #f8df69;
    color: #FFFFFF;
}
td.clsBodyRowGuardRarity_5 {
    background-color: #eaa847;
    color: #FFFFFF;
}
td.clsBodyRowGuardRarity_6 {
    background-color: #df5f5e;
    color: #FFFFFF;
}
td.clsBodyRowGuardRarity_7 {
    background-color: #8a46b5;
    color: #FFFFFF;
}



td.clsBodyRowEnabled {
    width: 20px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
}

td.clsBodyRowEnabled_1 {
    background-color: #3CB371;
    color: #3CB371;
}
td.clsBodyRowEnabled_0 {
    background-color: #B22222;
    color: #B22222;
}

td.clsBodyRowEnabled_2 {
    background-color:  #3CB371;
    color:  #3CB371;
}
td.clsBodyRowEnabled_3 {
    background-color: #0066cc;
    color: #0066cc;
}


td.clsBodyRowEnabled_4 {
    background-color:  #3CB371;
    color: #3CB371;
}
td.clsBodyRowEnabled_5 {
    background-color: #ff9933;
    color: #ff9933;
}
a {
    color: #eeeeee;
    text-transform: none;
    text-decoration:none;
}

td.clsBodyRowTrainerLogin {
    width:160px;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #555555;
}
td.clsBodyRowTrainerName {
    width: 80px;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #555555;
}
td.clsBodyRowTrainerLevel {
    width: 40px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #555555;
}
td.clsBodyRowTrainerExp {
    width: 50px;
    text-align: right;
    padding-left: 3px;
    padding-right: 6px;
    color: #ffffff;
    background-color: #555555;
}


td.clsBodyRowGymList {
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    background-color: #777777;
}