<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <database current="mysql-home">
        <mysql database="db_pokestats" password="3aNC7nVcPPpa2q" server="10.19.2.8" user="srv_pokestats" charset="utf8" />
        <mysql-loc database="db_pokestats" password="3aNC7nVcPPpa2q" server="127.0.0.1" user="srv_pokestats" charset="utf8" />

    </database>
    <map>
        <google key="AIzaSyA3OUM5s1t1mX3mqtSMNSToPD_uaTAdP3M" />
    </map>
    <AI signature="$path/Blob/libencrypt.so" delay_action_min="5" delay_action_max="10"  delay_scan="8">
        <PokemonCatch use_evolve="0" use_transfer="1" data_transfer="$path/Data/pokemon_transfer.json" data_pokemon="$path/Data/pokemon.json" data_catch="$path/Data/pokemon_catch.json" reticle_factor="1" spin_factor="1"/>

        <PokemonTransfer use_evolve="0" use_transfer="1" data_transfer="$path/Data/pokemon_transfer.json" data_pokemon="$path/Data/pokemon.json" />
    </AI>
</configuration>
