<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <database>
        <mysql database="db_pokestats" password="3aNC7nVcPPpa2q" server="10.19.2.8" user="srv_pokestats" charset="utf8" />
    </database>
    <map>
        <google key="AIzaSyA3OUM5s1t1mX3mqtSMNSToPD_uaTAdP3M" />
        <search step_limit="10" />
        <account2 auth-service="ptc" login="MaxOnNet" password="b7nYgJKFU22dRe" />
        <account6 auth-service="ptc" login="kuzyiaa" password="123456" />
        <account auth-service="google" login="v55morozov@gmail.com" password="apex-wheal-clod" />
    </map>
</configuration>
