<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


            <link rel="stylesheet" href="/static/reports/main.css" />
        {% endblock %}
    </head>
    <body>
        <center>
            <table cellpadding="0" cellspacing="1" border="0" class="clsTableParent" >
                <tr>
                    <td class="clsTableParentBody">
                        <table cellpadding="0" cellspacing="1" class="clsTable">
                            <tr class="clsHeader">
                                <td class="clsHeader" rowspan="1" colspan="1">Pokemon</td>
                                <td class="clsHeader" rowspan="1" colspan="1">GYM</td>
                                <td class="clsHeader" rowspan="1" colspan="1">Trainer</td>
                                <td class="clsHeader" rowspan="1" colspan="1">Servers</td>
                            </tr>

                            <tr class="clsBodyRow">
                                <td class="clsBodyMenuItem"><a href="/report/pokemon/now">Now</a></td>
                                <td class="clsBodyMenuItem"><a href="/report/gym/top">TOP 50</a></td>
                                <td class="clsBodyMenuItem"><a href="/report/trainer/top">TOP 100</a></td>
                                <td class="clsBodyMenuItem"><a href="/report/server/average">Average</a></td>
                            </tr>
                            <tr class="clsBodyRow">
                                <td class="clsBodyMenuItem"><a href="/report/pokemon/average">Average</a></td>
                                <td class="clsBodyMenuItem"><a href="/report/gym/team">TOP 100</a></td>
                                <td class="clsBodyMenuItem"></td>
                                <td class="clsBodyMenuItem"><a href="/report/server/account">Account</a></td>
                            </tr>
                            <tr class="clsBodyRow">
                                <td class="clsBodyMenuItem"></td>
                                <td class="clsBodyMenuItem"><a href="/report/gym/guard">TOP Guard</a></td>
                                <td class="clsBodyMenuItem"></td>
                                <td class="clsBodyMenuItem"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </center>
        <br/>
        {% block content %}{% endblock %}

        <br />Отчет составлен за {{ duration }} секунд.
        <br />По всем вопросам обращаться к Татарникову Виктору [ viktor@tatarnikov.org ].
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter38654230 = new Ya.Metrika({
                            id:38654230,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
    </body>
</html>