{% extends "report.html" %}
{% block title %}Report: Server Scanner Accounts{% endblock %}
{% block head %}
    {{ super() }}

    <meta http-equiv="refresh" content="10">
{% endblock %}

{% block content %}
    {% for db_row_server in table %}
        <table cellpadding="0" cellspacing="1" border="0" class="clsTableParent" >
            <tr>
                <td class="clsTableParentBody">
                    <table cellpadding="0" cellspacing="1" class="clsTable">
                        <tr>
                            <td class="clsBodyRowEnabled clsBodyRowEnabled_{{ db_row_server['server_enable'] }}">{{ db_row_server["server_enable"] }}</td>
                            <td class="clsHeaderTableName" rowspan="1" colspan="28">Сервер № {{ db_row_server["server_id"] }}, кодовое имя {{ db_row_server["server_name"] }} тип {{ db_row_server["server_description"] }}, расположен по адресу {{ db_row_server["server_address"] }}.</td>
                        </tr>
                        <tr class="clsHeader">
                            <td class="clsHeader" rowspan="2" colspan="1">№</td>
                            <td class="clsHeader" rowspan="1" colspan="3">Scanner</td>
                            <td class="clsHeader" rowspan="1" colspan="4">Account</td>
                            <td class="clsHeader" rowspan="1" colspan="2">Money</td>
                            <td class="clsHeader" rowspan="1" colspan="2">In Bag</td>
                            <td class="clsHeader" rowspan="1" colspan="2">Seen\Catch</td>
                            <td class="clsHeader" rowspan="1" colspan="4">Balls</td>
                            <td class="clsHeader" rowspan="1" colspan="4">Potion</td>
                            <td class="clsHeader" rowspan="1" colspan="2">Revive</td>
                            <td class="clsHeader" rowspan="1" colspan="5">Berry</td>
                        </tr>
                        <tr class="clsHeader">
                            <td class="clsHeader">ID</td>
                            <td class="clsHeaderE">E</td>
                            <td class="clsHeaderE">A</td>

                            <td class="clsHeader">Login</td>
                            <td class="clsHeader">Name</td>
                            <td class="clsHeader">Level</td>
                            <td class="clsHeader">Exp 2 Lev</td>

                            <td class="clsHeader">Stardust</td>
                            <td class="clsHeader">Coins</td>

                            <td class="clsHeader">Ite.</td>
                            <td class="clsHeader">Pok.</td>

                            <td class="clsHeader">P.s.</td>
                            <td class="clsHeader">Pok.</td>

                            <td class="clsHeader">Pok.</td>
                            <td class="clsHeader">Gre.</td>
                            <td class="clsHeader">Ult.</td>
                            <td class="clsHeader">Mas.</td>

                            <td class="clsHeader">Nor.</td>
                            <td class="clsHeader">Sup.</td>
                            <td class="clsHeader">Hup.</td>
                            <td class="clsHeader">Max.</td>

                            <td class="clsHeader">Nor.</td>
                            <td class="clsHeader">Max.</td>

                            <td class="clsHeader">Raz.</td>
                            <td class="clsHeader">Blu.</td>
                            <td class="clsHeader">Nan.</td>
                            <td class="clsHeader">Wep.</td>
                            <td class="clsHeader">Pin.</td>
                        </tr>
                        {% for db_row in db_row_server["server_data"] %}
                            <tr class="clsBodyRow">
                                <td class="clsBodyRowId">{{ loop.index }}</td>
                                <td class="clsBodyRowId">{{ db_row["s_id"] }}</td>
                                <td class="clsBodyRowEnabled clsBodyRowEnabled_{{ db_row['s_enable'] }}">{{ db_row["s_enable"] }}</td>
                                <td class="clsBodyRowEnabled clsBodyRowEnabled_{{ db_row['s_active'] }}">{{ db_row["s_active"] }}</td>

                                <td class="clsBodyRowTrainerLogin">{{ db_row["sa_login"] }}</td>
                                <td class="clsBodyRowTrainerName">{{ db_row["sa_name"] }}</td>
                                <td class="clsBodyRowTrainerLevel">{{ db_row["sa_level"] }}</td>
                                <td class="clsBodyRowTrainerExp">{{ db_row["sa_exp2lev"] }}</td>

                                <td class="clsBodyRowCount8">{{ db_row["sa_stardust"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_coins"] }}</td>

                                <td class="clsBodyRowCount6">{{ db_row["sa_bag_items"] }}</td>
                                <td class="clsBodyRowCount6">{{ db_row["sa_bag_pokemons"] }}</td>

                                <td class="clsBodyRowCount6">{{ db_row["sa_seen_pokestops"] }}</td>
                                <td class="clsBodyRowCount6">{{ db_row["sa_seen_pokemons"] }}</td>

                                <td class="clsBodyRowCount4">{{ db_row["sa_ball_poke"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_ball_great"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_ball_ultra"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_ball_master"] }}</td>

                                <td class="clsBodyRowCount4">{{ db_row["sa_potion_normal"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_potion_super"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_potion_huper"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_potion_max"] }}</td>

                                <td class="clsBodyRowCount4">{{ db_row["sa_revive_normal"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_revive_master"] }}</td>

                                <td class="clsBodyRowCount4">{{ db_row["sa_berry_razz"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_berry_bluk"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_berry_nanab"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_berry_wepar"] }}</td>
                                <td class="clsBodyRowCount4">{{ db_row["sa_berry_pinap"] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        <br/>
    {% endfor %}
{% endblock %}