{% extends "report.html" %}
{% block title %}Report: GYM Team TOP{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <table cellpadding="0" cellspacing="1" border="0" class="clsTableParent" >
        <tr>
            <td class="clsTableParentBody">
                <table cellpadding="0" cellspacing="1" class="clsTable">
                    <tr class="clsHeader">
                        <td class="clsHeader" rowspan="2">№</td>
                        <td class="clsHeader" rowspan="1" colspan="2">Team</td>
                        <td class="clsHeader" rowspan="1" colspan="1">GYM</td>
                    </tr>
                    <tr class="clsHeader">
                        <td class="clsHeader">ID</td>
                        <td class="clsHeader">Name</td>

                        <td class="clsHeader">Count</td>
                    </tr>
                    {% for db_row in table %}
                        <tr class="clsBodyRow">
                            <td class="clsBodyRowId">{{ loop.index }}</td>
                            <td class="clsBodyRowId">{{ db_row["team_id"] }}</td>
                            <td class="clsBodyRowTeamName clsBodyRowTeam_{{ db_row['team_id'] }}">{{ db_row["team_name"] }}</td>

                            <td class="clsBodyRowGymPrestige">{{ db_row["gym_count"] }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="clsHeader">
                        <td class="clsHeader" colspan="3">Всего GYM'ов</td>
                        <td class="clsBodyRowGymPrestige">{{ table|sum(attribute='gym_count') }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
