{% extends "report.html" %}
{% block title %}Report: Pokemon Average{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <table cellpadding="0" cellspacing="1" border="0" class="clsTableParent" >
        <tr>
            <td class="clsTableParentBody">
                <table cellpadding="0" cellspacing="1" class="clsTable">
                    <tr class="clsHeader">
                        <td class="clsHeader" rowspan="1" colspan="4">Pokemon</td>
                        <td class="clsHeader" rowspan="1" colspan="4">Количество</td>
                    </tr>
                    <tr class="clsHeader">
                        <td class="clsHeader">ID</td>
                        <td class="clsHeader">Name</td>
                        <td class="clsHeader">Rarity</td>
                        <td class="clsHeader">Evolution</td>
                        <td class="clsHeader">Now</td>
                        <td class="clsHeader">Hour</td>
                        <td class="clsHeader">Day</td>
                        <td class="clsHeader">All</td>
                    </tr>
                    {% for db_row in table %}
                        <tr class="clsBodyRow">
                            <td class="clsBodyRowId">{{ db_row["pokemon_id"] }}</td>
                            <td class="clsBodyRowGuardName">{{ db_row["pokemon_name"] }}</td>
                            <td class="clsBodyRowGuardRarity clsBodyRowGuardRarity_{{ db_row['pokemon_rarity'] }}">{{ db_row["pokemon_rarity_name"] }}</td>
                            <td class="clsBodyRowGuardEvolution clsBodyRowGuardEvolution_{{ db_row['pokemon_evolution'] }}">{{ db_row["pokemon_evolution"] }}</td>

                            <td class="clsBodyRowCount">{{ db_row["count_now"] }}</td>
                            <td class="clsBodyRowCount">{{ db_row["count_hour"] }}</td>
                            <td class="clsBodyRowCount">{{ db_row["count_day"] }}</td>
                            <td class="clsBodyRowCount">{{ db_row["count_all"] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
{% endblock %}